body {
    background-color: gold;
}

body {
    font-size: 50px;
    color: white;
}

.btn {
    cursor: pointer;
}

.clicked {
    color: #34495e;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}